http:
  routers:
    router-blueiris:
      entryPoints:
        - websecure
      rule: "Host(`bi.tl.{{ secret_domain_full }}`)"
      service: service-blueiris
      tls:
        certResolver: cloudflare
    router-homeassistant:
      entryPoints:
        - websecure
      rule: "Host(`home.{{ secret_domain_full }}`)"
      service: service-homeassistant
      tls:
        certResolver: cloudflare
    router-octoprint:
      entryPoints:
        - websecure
      rule: Host(`print.tl.{{ secret_domain_full }}`)
      service: service-octoprint
      tls:
        certResolver: cloudflare
    router-octoprint2:
      entryPoints:
        - websecure
      rule: Host(`print2.tl.{{ secret_domain_full }}`)
      service: service-octoprint2
      tls:
        certResolver: cloudflare
  services:
    service-blueiris:
      loadBalancer:
        servers:
        - url: "http://souliris:81"
    service-homeassistant:
      loadBalancer:
        servers:
        - url: "http://soulhass:8123"
    service-octoprint:
      loadBalancer:
        servers:
        - url: "http://soulprint"
    service-octoprint2:
      loadBalancer:
        servers:
        - url: "http://soulprint2"
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https://login.{{ secred_domain_full }}"
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/24"
        - "192.168.0.0/16"
        - "172.0.0.0/8"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers