services:
  plex:
    image: lscr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - "{{ appdata_path }}/plex:/config"
      - /dev/shm:/config/transcodes
      - "{{ data_path }}:/data:ro"
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
      - VERSION=latest
    labels:
      - "traefik.http.routers.plex.rule=Host(`plex.{{ secret_domain_full }}`)"
      - "traefik.http.routers.plex.tls=true"
      - traefik.http.services.plex.loadbalancer.server.port=32400
    restart: unless-stopped
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    devices:
      - /dev/dri:/dev/dri
    labels:
      - "traefik.http.routers.jellyfin.rule=Host(`jf.p.{{ local_domain }}`)"
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
    ports:
      - 8096:8096
      - 1900:1900/udp
      - 7359:7359/udp
    volumes:
      - "{{ appdata_path }}/jellyfin:/config"
      - /dev/shm:/config/transcodes
      - "{{ data_path }}:/data:ro"
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
      - "JELLYFIN_PublishedServerUrl=jf.p.{{ local_domain }}"
    restart: unless-stopped
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf
    container_name: audiobookshelf
    labels:
      - "traefik.http.routers.audiobookshelf.rule=Host(`abs.{{ secret_domain_full }}`)"
    volumes:
      - "{{ appdata_path }}/audiobookshelf/metadata:/metadata"
      - "{{ appdata_path }}/audiobookshelf/config:/config"
      - "{{ data_path }}:/data"
    restart: unless-stopped
  booklore:
    image: ghcr.io/booklore-app/booklore:latest
    container_name: booklore
    labels:
      - "traefik.http.routers.booklore.rule=Host(`books.{{ secret_domain_full }}`)"
      - traefik.http.services.booklore.loadbalancer.server.port=6060
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
      - DATABASE_URL=jdbc:mariadb://booklore-db:3306/booklore
      - DATABASE_USERNAME=booklore
      - "DATABASE_PASSWORD={{ secret_bookloredb_pass }}"
      - BOOKLORE_PORT=6060
    depends_on:
      booklore-db:
        condition: service_healthy
    volumes:
      - "{{ appdata_path }}/booklore/data:/app/data"
      - "{{ appdata_path }}/booklore/books:/books"
      - "{{ appdata_path }}/booklore/bookdrop:/bookdrop"
    restart: unless-stopped
  booklore-db:
    image: lscr.io/linuxserver/mariadb:11.4.5
    container_name: booklore-db
    labels:
      - traefik.enable=false
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
      - "MYSQL_ROOT_PASSWORD={{ secret_bookloredb_pass }}"
      - MYSQL_DATABASE=booklore
      - MYSQL_USER=booklore
      - "MYSQL_PASSWORD={{ secret_bookloredb_pass }}"
    volumes:
      - "{{ appdata_path }}/booklore-db/mariadb/config:/config"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    labels:
      - "traefik.http.routers.navidrome.rule=Host(`music.{{ secret_domain_full }}`)"
    user: 1000:1000
    volumes:
      - "{{ appdata_path }}/navidrome:/data"
      - "{{ data_path }}/media/music:/music:ro"
    environment:
      - "ND_LASTFM_APIKEY={{ lidify_last_fm_api_key }}"
      - "ND_LASTFM_SECRET={{ lidify_last_fm_api_secret }}"
    restart: unless-stopped
