---
- name: ensure hostname is set correctly
  hostname:
    name: "{{ hostname }}"

- name: disks
  include_tasks: disks.yaml
  tags:
    - disks

- name: file-sharing
  include_tasks: file-sharing.yaml
  tags:
    - file-sharing

- name: telegraf docker fix
  include_tasks: telegraf-fix.yaml

- name: override docker service for zfs dependencies
  include_tasks: docker-zfs-override.yaml
  when: docker_zfs_override
