libraries:
  Children Movies:
    metadata_path:
      - pmm: basic
      - pmm: studio
      - pmm: genre
      - pmm: seasonal
    mass_critic_rating_update: tmdb
    mass_audience_rating_update: tmdb
    split_duplicates: true
  Children TV Shows:
    metadata_path:
      - pmm: basic
      - pmm: network
  Movies:
    metadata_path:
      - pmm: basic
      - pmm: studio
      - pmm: genre
      - pmm: seasonal
    mass_critic_rating_update: tmdb
    mass_audience_rating_update: tmdb
    split_duplicates: true
  TV Shows:
    metadata_path:
      - pmm: basic
      - pmm: network
settings:
  cache: true
  cache_expiration: 60
  asset_directory: config/assets
  asset_folders: true
  assets_for_all: false
  sync_mode: append
  show_unmanaged: true
  show_filtered: false
  show_missing: true
  save_missing: true
  run_again_delay: 2
  missing_only_released: false
  create_asset_folders: false
  collection_minimum: 1
  delete_below_minimun: false
  tvdb_language: default
  show_missing_assets: true
plex:
  url: {{ plexmm_plex_url }}
  token: {{ plexmm_plex_token }}
  timeout: 60
  clean_bundles: false
  empty_trash: false
  optimize: false
tautulli:
  url: {{ plexmm_tautulli_url }}
  apikey: {{ secret_tautulli_api }}
tmdb:
  apikey: {{ plexmm_tmdb_apikey }}
  language: en
trakt:
  client_id: {{ plexmm_trakt_clientid }}
  client_secret: {{ plexmm_trakt_clientsecret }}
  authorization:
    access_token:
    token_type:
    expires_in:
    refresh_token:
    scope: public
    created_at:
  pin: {{ plexmm_trakt_pin }}
webhooks:
  error: {{ plexmm_discord_webhook }}
  #changes: {{ plexmm_discord_webhook }}