---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json

sonarr:
  sonarr:
    base_url: https://sonarr.p.{{ secret_domain_local }}
    api_key: {{ secret_sonarr_api }}

    quality_definition:
      type: anime

    media_naming:
      series: plex-tvdb
      season: default
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    include:
      - config: Sonarr_Anime_Quality_Profiles.yaml
      - config: Sonarr_Anime_Custom_Formats.yaml
      - config: Sonarr_Standard_Quality_Profiles.yaml
      - config: Sonarr_Standard_Custom_Formats.yaml

radarr:
  radarr:
    base_url: https://radarr.p.{{ secret_domain_local }}
    api_key: {{ secret_radarr_api }}

    quality_definition:
      type: movie

    media_naming:
      folder: plex-imdb
      movie:
        rename: true
        standard: plex-anime-imdb

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    include:
      - config: Radarr_Anime_Quality_Profiles.yaml
      - config: Radarr_Anime_Custom_Formats.yaml
      - config: Radarr_Standard_Quality_Profiles.yaml
      - config: Radarr_Standard_Custom_Formats.yaml