- name: Set module options
  template:
    src: files/zfs-modprobe.conf
    dest: /etc/modprobe.d/zfs.conf
    mode: "0644"
  become: true

- name: Locate zpool command
  command:
    cmd: which zpool
    strip_empty_ends: true
  register: which_zpool
  changed_when: false
  become: true

- name: Give user passwordless access to ZFS commands
  lineinfile:
    path: /etc/sudoers
    line: "{{ main_username }} ALL=(ALL) NOPASSWD: /usr/sbin/zfs,/usr/sbin/zpool"
  become: true

- name: Sanoid
  include_tasks: sanoid.yaml
